@charset "UTF-8";
@font-face{
  font-family: 'Source Sans Pro italic';
  src: url(../fonts/SourceSansPro-it.otf);
}
@font-face{
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-Regular.otf);
}
@font-face{
  font-family: 'Source Sans Pro Bold';
  src: url(../fonts/SourceSansPro-Bold.otf);
}

body{
    margin: 0;
    padding: 0;
    background:rgba(0, 0, 0, 0.01);
}
p,a{
      font-family: source sans pro;
      text-decoration: none;
}
h3,h2{
      font-family: source sans pro bold;
}
header{
    width: 100%;
    height: 100vh;
    color: white;
    border: 1px solid black;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../imagens/Bg.jpg);
    background-position: top;
    background-size: cover;
}
.top-nav{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.3));
}
.top-info{
    border-bottom: 1px solid rgba(255,255,255,0.2);
    width: 85vw;
    margin: auto;
}
.top-info .contact {
    text-align: left;
    display: inline-block;
    padding: 10px 15px;
    font-family: source sans pro;
}
.top-info .contact > span {
    font-size: 10pt;
    padding-left: 15px;

}
.top-info .contact span > span{
    font-size: 10pt;
    margin-left: 30px;
}
.top-info .social{
    display: inline;
    position: relative;
    float: right;
    margin-top: 10px;
}
.top-info .social i{
    font-size: 10pt;
    margin-right: 30px;
}
.logo{

}
.logo img {
    float: left;
    width: 160px;
    margin-left: 40px;
    margin-top: 5px;
}
nav{
    width: 85vw;
    margin: auto;
}
nav ul{
    text-align: right;
    padding: 15px 15px 20px 15px;
}
nav > ul > li{
    display: inline-block;
}
nav > ul > li > a{
    list-style: none;;
    color: white;
    font-family: source sans pro bold, sans-serif;
    font-size: 14pt;
    padding: 10px 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: all 400ms ease-in;
}

section{
    width: 85vw;
    margin: auto;
}
.skills{
    position: relative;
    margin-top: -145px;
    text-align: center;
    font-family: source sans pro;
}
.skills i{
    color: #2c3e50;
    font-size: 40pt;
}
.skills h2{
    margin: 10px;
    color: #1c2833;
}
.skills p{
    margin: 0;
    color: #1c2833;
}
.pro{
    padding: 30px 20px 10px 20px;
    box-shadow: 1px 1px 10px #2c3e50;
    border-radius: 15px;
    border: 1px solid black;
    width: 230px;
    height: 320px;
    float: left;
    margin-left: 200px;
    background: rgba(255,255,255,1);
}
.rec{
    padding: 30px 20px 10px 20px;
    box-shadow: 1px 1px 10px #2c3e50;
    border-radius: 15px;
    border: 1px solid black;
    width: 230px;
    height: 320px;
    float: left;
    margin-left: 200px;
    background: rgba(255,255,255,1);
}
.our-jobs{
    margin-top: 450px;
}
.our-jobs h2{
    text-align: center;
    margin: 0;
}
.our-jobs h2{
    font-size: 25pt;
}
.our-jobs p{
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    margin: 0;
}
 .row-1 .left-wide-1{
    float: left;
    width: 670px;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 30px;
    background: url(../imagens/left-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.row-1 .right-small-1{
    position: relative;
    width: 430px;
    height: 350px;
    float: right;
    border-radius: 20px;
    background: url(../imagens/right.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.text-wide-1{
    border: 1px solid rgba(15, 137, 217, 0.2);
    background: rgba(15, 55, 96, 0.9);
 }
 .text-wide-2{
     border: 1px solid rgba(26, 188, 156, 0.2);
     background: rgba(11,33,65,.9);
 }
.text-wide-1,.text-wide-2{
    margin-left:30px;
    margin-top: 30px;
    width: 90%;
    height: 85%;
    padding: 15px;
    border-radius: 20px;
    box-sizing:border-box;
    opacity: 0;
    transition: all 300ms ease;
}
.left-wide-1:hover .text-wide-1{
    opacity: 1;
    animation: slide-in 1000ms;
}
.left-wide-2:hover .text-wide-2{
    opacity: 1;
    animation: slide-in 1000ms;
}
.text-wide-1,.text-wide-2 {
    text-align: center;
    padding: 10px 140px;
}
.text-wide-1 h3{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid white;
    margin-top: 80px;
    margin-bottom: 35px;
    padding-bottom: 20px;
    font-size: 20pt;
}
.text-wide-2 h3{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid white;
    margin-top: 80px;
    margin-bottom: 35px;
    padding-bottom: 20px;
    font-size: 20pt;
}
.text-wide-1 a{
    color: rgba(255, 255, 255, 1);
    font-size: 14pt;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 8px;
}
.text-wide-2 a{
    color: rgba(255, 255, 255, 1);
    font-size: 14pt;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 8px;
}
.text-wide-1 a:hover{
    background: white;
    color: #092b41;
    transition: all 200ms;
}
.text-wide-2 a:hover{
    background: white;
    color: #092b41;
    transition: all 200ms;
}


.row-2 .left-wide-2{
    float: right;
    width: 670px;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 30px;
    background: url(../imagens/right-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.row-2 .right-small-2{
    width: 430px;
    height: 350px;
    float: left;
    border-radius: 20px;
    background: url(../imagens/left-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.our-jobs h2{
    color: #2c3e50;
    font-size: 28pt;
    margin-bottom: 4px;
}
.our-jobs p{
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-bottom: 30px;
    font-size: 12pt;
}
nav > ul > li > a:hover{
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}
/* vocations */
.vocations {
    margin-top: 900px;
    width: 100%;
    background: rgba(44, 62, 80, 1);
}
.voc-in{
    width: 85vw;
    margin: auto;
}
.voc-header{
    padding: 40px;
}
.vocations h2{
    color: #2c3e50;
    font-size: 33pt;
    margin-bottom: 4px;
    text-align: center;
    color: #fff;
}
#h3-v{
    font-family: source sans pro;
    color: rgba(255, 255, 255, 0.4);
    margin: 0;
    margin-bottom: 30px;
    font-size: 12pt;
    font-weight: normal;
    text-align: center;
}
.first-row{
    display:flex;
}
.first-row .f{
    background-color: white;
    margin-right: 50px;
    padding: 40px 30px;
    border-radius: 15px;
    transition: all 200ms ease-in;
}
#f3{
    margin-right: 0px;
}
.first-row .f h3{
    display: inline;
    margin-left: 15px;
    font-size: 16pt;
}
.first-row .f i{
    display: inline;
    margin-left: 2px;
    font-size: 21pt;
}
.first-row .f p{
    text-align: justify;
    font-size: 12pt;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 12pt;
    font-weight: 400;
    box-sizing: border-box;
}

#sec-row{
    margin-top: 40px;
    padding-bottom: 75px;
}
.f:hover{
    color: #2c3e50;
    box-shadow: 3px 3px 30px rgba(255, 255, 255, 0.75);
}
.share{
    background-color: #cc3333;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 45%;
    box-shadow: 1px 1px 15px white;
    transition: background 1000ms;
    z-index: 1;
}
.share a{
    color: #fff;
    font-size: 12pt;
    padding: 2px 2px;
}
.share a span{
    width:0;
    display: inline-block;
    opacity: 0;
    margin-right: 15px;
    transition: display 1s linear;
    margin: 0;
    transition: all 400ms;
}
.share:hover span{
    opacity: 1;
    margin-right: 10px;
    width: auto;

}
.share:hover {
    border-radius: 30px;
    background-color: #ed2914;
}

/* Why chose us*/
.why-this{
    display: flex;
    margin-top: 80px;
    background: rgba(0, 0, 0, 0.01);
}
.why-img{
    width: 800px;
    height: 350px;
    border: 1px solid #000;
    background: url(../imagens/why-us.png);
    background-position: center;
    background-size: cover;
    border: 10pt solid rgba(0,0,0,.03);
    margin-right: 15px;
    margin-top: 40px;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.09);
}

.why-txt{
    width: 1100px;
    padding: 30px 70px;
}
.why-txt h2{
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 28pt;
    margin: 0;
    margin-bottom: 25px;
    padding-bottom: 7px;
    color: #2c3e50;
}
.why-txt h2 span{
    padding-bottom: 7px;
    border-bottom: 3pt solid #34495e;
}

.why-txt p{
    text-align: left;
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12pt;
    word-spacing: 1.5pt;
    line-height: 24px;
}
.why-txt h3{
    font-size: 18pt;
    margin-bottom: 0;
    text-align: left;
    padding-bottom: 7px;
    color: #2c3e50;
}
.why-txt ul{
    display: inline-block;
    align-items: center;
    margin-right: 50px;
}
.why-txt ul li{
    list-style: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12pt;
    word-spacing: 2px;
    letter-spacing: 0.5pt;
    margin-top: 5px;
    font-family: source sans pro;
}
.why-txt ul li i {
    margin-right: 15px;
}
/* Looking */
.Looking{
  padding: 20px 5px;
  box-sizing: border-box;
}
.look-all{
    position: relative;
    margin-top: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.3)),url(../imagens/Looking.png) 50% 80%;
    background-size: cover;
    height: 70vh;
    border-radius: 20px;

}
.look-txt{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
.look-txt h2{
    color: white;
    font-size: 30pt;
    margin: 0;
}
.look-txt p{
    font-size: 11pt;
    color: rgba(255, 255, 255, 0.7);
}
.look-txt a{
    font-family: source sans pro bold;
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin-top: 15px;
    margin-right: 30px;
    border-radius: 15px;
    font-size: 12pt;
    transition: all 300ms ease-in-out;
}
.look-txt a:hover{
  color: #34495e;
  background: #fff;
}
/*Comment */
.comment{
  margin-top: 50px;

}
.comment h2{
  color:  #203952;
  text-align: left;
  font-size: 28pt;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 60px;
  padding-bottom: 7px;
}
.comment h2 span{
    font-family: source sans pro Bold;
    padding-bottom: 7px;
    border-bottom: 3pt solid #34495e;
}

.staff{
  display: flex;
}
.staff img{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-top: 10px;
  transition: all 1s;
}
.people{
  display: flex;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-right: 15px;
  background: rgba(0, 0, 0, 0.009);
}
.staff-txt p{
  color: rgba(0, 0, 0, 0.7);
  font-size: 10pt;
  font-family: source sans pro italic;
  margin: 0;
  text-align: left;
  border-top: 15px;
  margin-top: 8px;
}
.staff-txt h3{
  display: inline;
  font-size: 12pt;
}
#staff-2{
  margin-top: 30px;
}
#last-com{
  margin-right: 0;
}
#last-com-2{
  opacity: 0;
  margin-right: 0;
}
.people:hover .ervin{
  transform: scale(1.8);
}
.people:hover h3{
  color: #d35400;
}
/* Footer*/
footer{
  margin-top: 100px;
  background: rgba(42, 62, 80,1);
  padding:20px 50px;
}
.footer-1{
  margin: auto;
  width: 85vw;
  display: flex;
  padding: 40px;
  box-sizing: border-box;
}
.footer-1 h2{
    color: rgba(255, 255, 255, 0.90);
}
.footer-1 p{
    color: rgba(255, 255, 255, 0.80);
    font-weight: lighter;
    font-family: open sans, sans-serif;
    font-size: 11pt;
}
.about{
  width: 480px;
}
.newsletter{
  width: 300px;
  margin-right: 50px;
  margin-left: 50px;
}
.newsletter input{
  border: none;
  padding: 5px 10px;
  width: 200px;
  color: rgba(0, 0, 0, 0.6);
}
.newsletter input:hover{
background: rgba(255, 255, 255, 0.9);
}
.newsletter button{
  border: none;
  padding: 5px 10px;
  color:  rgba(42, 62, 80,1);
  background:rgba(255, 255, 255, 1);
}
.newsletter button:hover{
  background:rgba(255, 255, 255, .7);
}
.newsletter input i{
  font-size: 14pt;
}
.follow-us i:hover{
  transform: scale(1.2);
}
.follow-us i{
  display: inline-block;
  margin-right: 30px;
  color: #fff;
}
.end{
  width: 100%;
  background: #fff;
  text-align: center;
  color:  rgba(42, 62, 80,1);
  padding:10px 15px;
}
.end span{
  color:  #34495e;
}
@keyframes slide-in {
  0%{
    margin-top: 60px;
    opacity: 1;
    letter-spacing: 3px;
  }
}
