*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

}
.page{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
h1{ 
    font-size: 4rem;
    color: rgb(6, 6, 70);
    background: linear-gradient(topright,rgb(0,0,0,),rgb()) #7c7c7c;
    display: inline-block;
    width: 100%;
    border-radius: 5px;

}